// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pet-card {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 2px 2px gray;
}

.pt-10vh {
  padding-top: 10vh;
}
